.content {
  width: 100%;
  padding: 20%;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/celular_banner.jpg");
  height: 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content a {
  width: 100%;
  margin: 10%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 60px;
}

.Instagram {
  font-family: "Satisfy", cursive;
  background-color: rgb(241, 12, 12);
}
.Instagram:hover {
  color: rgb(241, 12, 12);
  background-color: white;
}

.whattsapp {
  background-color: green;
}

.whattsapp:hover {
  background-color: white;
  color: green;
}

@media (max-width: 600px) {
  .content {
    margin-top: 10%;
    padding: 30%;
  }
  .content a {
    width: 100%;
    padding: 10%;
    margin: 5%;
    font-size: 15px;
    display: grid;
  }
}
