.main {
  width: 100%;
  text-align: center;
  color: white;
  padding: 1%;
  animation-duration: 3s;
  animation-name: example;
  animation-iteration-count: infinite;
}
.main h2 {
  color: rgb(243, 243, 243);
  text-align: center;
}
@keyframes example {
  0% {
    background-color: red;
    font-family: cursive;
  }
  25% {
    background-color: yellow;
    font-family: fantasy;
  }
  50% {
    background-color: blue;
    font-family: Rajdhani;
  }
  100% {
    background-color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media (max-width: 600px) {
  .main h2 {
    font-size: 15px;
  }
}
